*.iml
*.log
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/markdown-navigator
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
!/.idea/copyright
!/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx